/* CSS for home page (index.html) */

main {
    padding: 25px;
}

li {
    padding: 10px 0;
    border-bottom: 1px dashed black;
}

.title {
    margin-bottom: 10px;
    font-size: 1.1em;
    font-weight: 400;
    text-decoration: underline;
}

.content {
    margin-left: 15px;
}

.contact, .timestamp {
    text-align: right;
    font-size: 0.8em;
    color: darkgrey;
}
