:root {
    --background: rgb(224, 234, 247);
    --header-background: rgb(230, 225, 207);
    --footer-background: rgb(187, 187, 187);
}

body {
    padding-bottom: 50px;
    font-family: 'Rubik', san-serif;
}

header {
    position: sticky;
    top: 0;
    padding: 5px 10px;
    background-color: var(--header-background);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    row-gap: 20px;
}

header h1 {
    margin: 0;
}

header .left {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

header .right {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

main {
    padding: 10px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    background-color: var(--footer-background);
}

.hidden {
    display: none;
}

#sign-in-out {
    display: contents;
}
